*
!.gitignore
!_debug/
!_debug/debug-workspace/
!_debug/debug-workspace/page-config.json
!_debug/debug-workspace/components.json
!_debug/debug-workspace/angora-combos.json
!zoositioweb.com.mx/
zoositioweb.com.mx/*
!zoositioweb.com.mx/site-config.json
!zoositioweb.com.mx/components.json
!zoositioweb.com.mx/variables.json
!zoositioweb.com.mx/angora-combos.json
!zoositioweb.com.mx/i18n/
zoositioweb.com.mx/i18n/*
!zoositioweb.com.mx/i18n/es.json
!zoositioweb.com.mx/default/
zoositioweb.com.mx/default/*
!zoositioweb.com.mx/default/page-config.json
!zoositioweb.com.mx/default/components.json
!zoositioweb.com.mx/default/variables.json
!zoositioweb.com.mx/default/angora-combos.json
!zoositioweb.com.mx/default/i18n/
zoositioweb.com.mx/default/i18n/*
!zoositioweb.com.mx/default/i18n/es.json
!zoositioweb.com.mx/acceso/
zoositioweb.com.mx/acceso/*
!zoositioweb.com.mx/acceso/page-config.json
!zoositioweb.com.mx/acceso/components.json
!zoositioweb.com.mx/acceso/variables.json
!zoositioweb.com.mx/acceso/angora-combos.json
!zoositioweb.com.mx/acceso/i18n/
zoositioweb.com.mx/acceso/i18n/*
!zoositioweb.com.mx/acceso/i18n/es.json
!zoositioweb.com.mx/auth-callback/
zoositioweb.com.mx/auth-callback/*
!zoositioweb.com.mx/auth-callback/page-config.json
!zoositioweb.com.mx/auth-callback/components.json
!zoositioweb.com.mx/auth-callback/variables.json
!zoositioweb.com.mx/auth-callback/angora-combos.json
!zoositioweb.com.mx/auth-callback/i18n/
zoositioweb.com.mx/auth-callback/i18n/*
!zoositioweb.com.mx/auth-callback/i18n/es.json
!zoositioweb.com.mx/mi-cuenta/
zoositioweb.com.mx/mi-cuenta/*
!zoositioweb.com.mx/mi-cuenta/page-config.json
!zoositioweb.com.mx/mi-cuenta/components.json
!zoositioweb.com.mx/mi-cuenta/variables.json
!zoositioweb.com.mx/mi-cuenta/angora-combos.json
!zoositioweb.com.mx/mi-cuenta/i18n/
zoositioweb.com.mx/mi-cuenta/i18n/*
!zoositioweb.com.mx/mi-cuenta/i18n/es.json
!zoositioweb.com.mx/server/
zoositioweb.com.mx/server/*
!zoositioweb.com.mx/server/auth-profile-registry.json
