<div class="accordion ank-display-flex ank-flexDirection-column ank-gap-0_25rem" role="group">
  @for (item of items(); track item.id; let idx = $index) {
  <div
    class="ank-border-1px-solid ank-borderColor-fgColor ank-borderRadius-0_5rem ank-transition-all ank-borderColor-accentColor"
    [class.ank-borderColor-accentColor]="isExpanded(item.id)"
    [class.ank-bgColor-secondaryBgColor]="isExpanded(item.id)"
  >
    <button
      type="button"
      class="ank-outline-2px__solid__secondaryAccentColor ank-m-8px ank-color-textColor ank-borderRadius-0_25rem ank-border-0 ank-width-100pct ank-textAlign-left ank-padding-0_75rem ank-fontWeight-600 ank-transition-all ank-bgHover-secondaryAccentColor ank-colorHover-titleColor"
      [attr.id]="buttonId(item.id)"
      [attr.aria-expanded]="isExpanded(item.id)"
      [class.ank-bg-secondaryAccentColor]="isExpanded(item.id)"
      [class.ank-bg-transparent]="!isExpanded(item.id)"
      [attr.aria-controls]="panelId(item.id)"
      [disabled]="item.disabled"
      (click)="toggle(item.id)"
      (keydown)="onKey($event, idx)"
    >
      <span class="ank-display-flex ank-justifyContent-spaceBetween ank-alignItems-center ank-width-100per">
        <span class="ank-display-inlineBlock">{{ item.title }}</span>
        <span
          class="accordion-icon ank-transition-transform ank-transformOrigin-center ank-fontSize-1_25rem ank-color-accentColor"
          [class.ank-transform-rotate-180deg]="isExpanded(item.id)"
        >
        </span>
      </span>
    </button>
    <div
      class="accordion-panel-wrapper"
      [attr.data-open]="isExpanded(item.id)"
      [style.--acc-open]="isExpanded(item.id) ? 1 : 0"
    >
      @if (isExpanded(item.id)) {
      <div
        class="accordion-panel ank-paddingInline-0_75rem ank-paddingBlock-0_5rem"
        [attr.id]="panelId(item.id)"
        role="region"
        [attr.aria-labelledby]="buttonId(item.id)"
      >
        <p class="ank-marginBlockStart-0 ank-marginBlockEnd-0 ank-color-textColor">{{ item.content }}</p>
      </div>
      }
    </div>
  </div>
  }
</div>
