<button
  [id]="id() || null"
  [attr.type]="type()"
  [disabled]="disabled() || loading()"
  [class]="classes()"
  [attr.aria-busy]="loading() ? 'true' : null"
  [attr.role]="role() || null"
  [attr.aria-label]="ariaLabel() || null"
  [attr.aria-expanded]="ariaExpanded() || null"
  [attr.aria-haspopup]="ariaHaspopup() || null"
  [attr.aria-controls]="ariaControls() || null"
  [attr.aria-activedescendant]="ariaActiveDescendant() || null"
  (click)="onClick($event)"
>
  @if (loading()) {
  <span [class]="spinnerClass()" aria-hidden="true"></span>
  } @else if (icon()) {
  <mat-icon [class]="iconClass() + (iconPosition() === 'after' ? ' ank-order-1' : ' ank-order-0')" aria-hidden="true">{{
    icon()
  }}</mat-icon>
  } @if (label()) {<span>{{ label() }}</span
  >}
  <ng-content />
  @if (components() && components().length > 0) {
  <generic-multi-components [components]="components()" />
  }
</button>
