<app-section spacing="lg">
  <app-container size="xl">
    <div class="ank-textAlign-center ank-mb-4rem">
      <h2 class="ank-fs-2rem ank-fontWeight-bold ank-mb-1rem ank-color-titleColor">
        Tecnologías y Metodologías que Impulsan tu Crecimiento
      </h2>
      <p class="ank-fs-1_25rem ank-color-textColor ank-maxWidth-37_5rem ank-mx-auto">
        Conoce las herramientas y enfoques que utilizamos para crear soluciones web efectivas
      </p>
    </div>
    <div class="gridCol2">@for (feature of features(); track feature.title) { <feature-card [data]="feature" /> }</div>
  </app-container>
</app-section>
