<div [class]="config().containerClasses ?? 'accContainer'" role="group">
  @for (item of items(); track item.id; let idx = $index) {
  <div
    [ngClass]="[
      item.containerClasses ?? config().defaultItemContainerClasses ?? 'accItemContainer',
      isExpanded(item.id)
        ? item.containerIsExpandedClasses ??
          config().defaultItemContainerIsExpandedClasses ??
          'accItemExpandedContainer'
        : item.containerIsNotExpandedClasses ??
          config().defaultItemContainerIsNotExpandedClasses ??
          'accItemNotExpandedContainer'
    ]"
  >
    <generic-button
      [config]="{
        id: buttonId(item.id),
        classes:
          (item.buttonConfig?.classes || config().defaultItemButtonConfig?.classes || 'accItemButton') +
          ' ' +
          (isExpanded(item.id)
            ? item.buttonIsExpandedClasses || config().defaultItemButtonIsExpandedClasses || 'accItemButtonIsExpanded'
            : item.buttonIsNotExpandedClasses ||
              config().defaultItemButtonIsNotExpandedClasses ||
              'accItemButtonIsNotExpanded'),
        type: 'button',
        label: titleOf(item),
        disabled: item.disabled,
        icon: item.buttonConfig?.icon || config().defaultItemButtonConfig?.icon,
        iconClasses:
          (item.buttonConfig?.iconClasses || config().defaultItemButtonConfig?.iconClasses || 'accItemButtonIcon') +
          ' ' +
          (isExpanded(item.id)
            ? item.iconIsExpandedClasses || config().defaultItemIconIsExpandedClasses || 'accItemButtonIconIsExpanded'
            : item.iconIsNotExpandedClasses ||
              config().defaultItemIconIsNotExpandedClasses ||
              'accItemButtonIconIsNotExpanded'),
        iconPosition: item.buttonConfig?.iconPosition || config().defaultItemButtonConfig?.iconPosition || 'after',
        ariaLabel: titleOf(item),
        tabIndex: item.disabled ? -1 : 0,
        ariaSelected: isExpanded(item.id) ? true : false,
        ariaExpanded: isExpanded(item.id),
        ariaControls: panelId(item.id),
        components: item.buttonConfig?.components || config().defaultItemButtonConfig?.components || []
      }"
      (pressed)="toggle(item.id)"
      (keydown)="onKey($event, idx)"
    />
    @if (isExpanded(item.id)) {
    <div
      class="accordion-panel-wrapper {{ item.panelClasses || config().defaultItemPanelClasses || 'accItemPanel' }}"
      [attr.id]="panelId(item.id)"
      role="region"
      [attr.aria-labelledby]="buttonId(item.id)"
    >
      @if(contentOf(item)) {
      {{ contentOf(item) }}
      }
    </div>
    }
  </div>
  }
</div>
