.progress-bar-indeterminate {
  animation: pbSlide 1s ease-in-out infinite;
}
.progress-bar-striped-animation {
  animation: stripesMove 1s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar-indeterminate,
  .progress-bar-striped-animation {
    animation: none;
  }
}
@keyframes pbSlide {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes stripesMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1rem 0;
  }
}
