<ng-template #wrapperOrchestratorTpl let-component>
  @if (component?.config?.components && component.config.components.length > 0) { @for(componentId of
  component.config.components; track (componentId + $index)) {
  <wrapper-orchestrator [componentsIds]="[componentId]"></wrapper-orchestrator>
  } }
</ng-template>

@if (components().length > 0) { @for (component of components(); track component.id) { @switch (component.type) {
@case('accordion') {
<generic-accordion
  [config]="component.config"
  (toggled)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'toggled',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
>
</generic-accordion>
} @case('button') {
<generic-button
  [config]="component.config"
  (pressed)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'pressed',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
>
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-button>
} @case('container') {
<generic-container [config]="component.config">
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-container>
} @case('dropdown') {
<generic-dropdown
  [items]="component.config.items"
  [config]="component.config.dropdownConfig || null"
  (selectItem)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'selectItem',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
>
  <ng-container trigger>
    <ng-container
      [ngTemplateOutlet]="wrapperOrchestratorTpl"
      [ngTemplateOutletContext]="{ $implicit: component }"
    ></ng-container>
  </ng-container>
</generic-dropdown>
} @case('feature-card') {
<generic-feature-card [config]="component.config"></generic-feature-card>
} @case('interactive-process') {
<interactive-process-leaf
  [process]="component.config.process()"
  [currentStep]="component.config.currentStep()"
  [sectionTitleKey]="resolveMaybeThunk(component.config.sectionTitleKey)"
  [sectionSidebarTitleKey]="resolveMaybeThunk(component.config.sectionSidebarTitleKey)"
  [sectionDetailedDescriptionLabelKey]="resolveMaybeThunk(component.config.sectionDetailedDescriptionLabelKey)"
  [sectionDeliverablesLabelKey]="resolveMaybeThunk(component.config.sectionDeliverablesLabelKey)"
  (selectStep)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'selectStep',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
></interactive-process-leaf>
} @case('stats-counter') {
<generic-stats-counter [config]="resolveStatsCounterConfig(component.config)"></generic-stats-counter>
} @case('testimonial-card') {
<generic-testimonial-card [config]="component.config"></generic-testimonial-card>
} @case('icon') {
<generic-icon [config]="component.config">
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-icon>
} @case('link') {
<generic-link
  [config]="component.config"
  (clicked)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'clicked',
      eventData: resolveMaybeThunk(component.config.href),
      eventInstructions: component.eventInstructions
    })
  "
>
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-link>
} @case('media') {
<generic-media [config]="component.config">
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-media>
}@case('text') {
<generic-text [config]="component.config">
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-text>
} @default {
<span>{{ unknownComponentLabel(component.type) }}</span>
} } } }
