<ng-template #wrapperOrchestratorTpl let-component>
  @if (component?.config?.components && component.config.components.length > 0) { @for(componentId of
  component.config.components; track (componentId + $index)) {
  <wrapper-orchestrator [componentsIds]="[componentId]" [hostContext]="effectiveHost()"></wrapper-orchestrator>
  } }
</ng-template>

@if (components().length > 0) { @for (component of components(); track component.id) { @switch (component.type) {
@case('accordion') {
<generic-accordion
  [config]="component.config"
  (toggled)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'toggled',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
>
</generic-accordion>
} @case('button') {
<generic-button
  [config]="$any(buttonConfig(component))"
  (pressed)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'pressed',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
>
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-button>
} @case('container') {
<generic-container [config]="$any(containerConfig(component))">
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-container>
} @case('dropdown') {
@defer (on viewport) {
  <generic-dropdown
    [items]="component.config.items"
    [config]="component.config.dropdownConfig || null"
    (selectItem)="
      eventEmitted({
        component: component.id,
        meta_title: component.meta_title,
        eventName: 'selectItem',
        eventData: $event,
        eventInstructions: component.eventInstructions
      })
    "
  >
    <ng-container trigger>
      <ng-container
        [ngTemplateOutlet]="wrapperOrchestratorTpl"
        [ngTemplateOutletContext]="{ $implicit: component }"
      ></ng-container>
    </ng-container>
  </generic-dropdown>
} @placeholder {
  <span aria-hidden="true"></span>
}
} @case('embed-frame') {
@defer (on viewport) {
  <generic-embed-frame [config]="$any(embedFrameConfig(component))"></generic-embed-frame>
} @placeholder {
  <span aria-hidden="true"></span>
}
} @case('generic-card') {
<generic-card
  [config]="component.config"
  (linkClicked)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'linkClicked',
      eventData: $event.href,
      eventInstructions: $event.eventInstructions || component.eventInstructions
    })
  "
  (actionClicked)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'actionClicked',
      eventData: $event.label,
      eventInstructions: $event.eventInstructions || component.eventInstructions
    })
  "
></generic-card>
} @case('generic-cell') {
<generic-cell
  [config]="$any(genericCellConfig(component))"
  [column]="genericCellColumnConfig(component)"
  [row]="resolveValue(component.config.row)"
  [value]="resolveValue(component.config.value)"
  [hostContext]="effectiveHost()"
></generic-cell>
} @case('generic-file-dropzone') {
<generic-file-dropzone
  [config]="$any(genericFileDropzoneConfig(component))"
  (valueChanged)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'valueChanged',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
  (rejectedFiles)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'rejectedFiles',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
></generic-file-dropzone>
} @case('generic-rich-text') {
@defer (on viewport) {
  <generic-rich-text
    [config]="$any(genericRichTextConfig(component))"
    (valueChanged)="
      eventEmitted({
        component: component.id,
        meta_title: component.meta_title,
        eventName: 'valueChanged',
        eventData: $event,
        eventInstructions: component.eventInstructions
      })
    "
    (blurred)="
      eventEmitted({
        component: component.id,
        meta_title: component.meta_title,
        eventName: 'blurred',
        eventData: $event,
        eventInstructions: component.eventInstructions
      })
    "
  ></generic-rich-text>
} @placeholder {
  <span aria-hidden="true"></span>
}
} @case('generic-table') {
@defer (on viewport) {
  <generic-table
    [config]="$any(genericTableConfig(component))"
    [hostContext]="effectiveHost()"
    (rowClicked)="
      eventEmitted({
        component: component.id,
        meta_title: component.meta_title,
        eventName: 'rowClicked',
        eventData: $event,
        eventInstructions: component.eventInstructions
      })
    "
    (rowAction)="
      eventEmitted({
        component: component.id,
        meta_title: component.meta_title,
        eventName: 'rowAction',
        eventData: $event,
        eventInstructions: component.eventInstructions
      })
    "
    (selectionChanged)="
      eventEmitted({
        component: component.id,
        meta_title: component.meta_title,
        eventName: 'selectionChanged',
        eventData: $event,
        eventInstructions: component.eventInstructions
      })
    "
  ></generic-table>
} @placeholder {
  <span aria-hidden="true"></span>
}
} @case('input') {
<generic-input
  [config]="component.config"
  (valueChanged)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'valueChanged',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
  (blurred)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'blurred',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
></generic-input>
} @case('interaction-scope') {
<interaction-scope
  [config]="$any(interactionScopeConfig(component))"
  [parentHost]="effectiveHost()"
  [componentId]="component.id"
  [metaTitle]="component.meta_title"
></interaction-scope>
} @case('search-box') {
@defer (on viewport) {
  <generic-search-box
    [config]="resolveSearchConfig(component.config)"
    (selectSuggestion)="
      eventEmitted({
        component: component.id,
        meta_title: component.meta_title,
        eventName: 'selectSuggestion',
        eventData: $event,
        eventInstructions: component.eventInstructions
      })
    "
  ></generic-search-box>
} @placeholder {
  <span aria-hidden="true"></span>
}
} @case('stats-counter') {
<generic-stats-counter [config]="resolveStatsCounterConfig(component.config)"></generic-stats-counter>
} @case('tab-group') {
<generic-tab-group
  [config]="component.config"
  (selected)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'selected',
      eventData: $event,
      eventInstructions: component.eventInstructions
    })
  "
></generic-tab-group>
} @case('icon') {
<generic-icon [config]="$any(iconConfig(component))">
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-icon>
} @case('link') {
<generic-link
  [config]="$any(linkConfig(component))"
  [eventInstructions]="component.eventInstructions"
  (clicked)="
    eventEmitted({
      component: component.id,
      meta_title: component.meta_title,
      eventName: 'clicked',
      eventData: resolveValue(component.config.href),
      eventInstructions: component.eventInstructions
    })
  "
>
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-link>
} @case('loading-spinner') {
<app-loading-spinner
  [variant]="loadingSpinnerConfig(component).variant || 'ring'"
  [size]="loadingSpinnerConfig(component).size || 'md'"
  [classes]="loadingSpinnerConfig(component).classes || ''"
></app-loading-spinner>
} @case('media') {
<generic-media [config]="$any(mediaConfig(component))"></generic-media>
} @case('pagination') {
<generic-pagination
  [config]="$any(paginationConfig(component))"
  [componentId]="component.id"
  [hostContext]="effectiveHost()"
></generic-pagination>
} @case('qr-code') {
<generic-qr-code
  [config]="$any(qrCodeConfig(component))"
  [componentId]="component.id"
></generic-qr-code>
}@case('text') {
<generic-text [config]="$any(textConfig(component))">
  <ng-container
    [ngTemplateOutlet]="wrapperOrchestratorTpl"
    [ngTemplateOutletContext]="{ $implicit: component }"
  ></ng-container>
</generic-text>
} @case('tooltip') {
<generic-tooltip
  [for]="$any(tooltipConfig(component)).for"
  [content]="tooltipContent(component)"
  [config]="$any(tooltipConfig(component))"
></generic-tooltip>
} @default {
<span>{{ unknownComponentLabel(component.type) }}</span>
} } } }
